#imagep {
    width: 50px;
    height: 100px;
}
.parneet-pic {
    margin: 50px; 
    float: left;
    width: 50px;
    height: 300px; 
    border-radius: 20%; 
    border: 2px solid white; 
    border-color: azure;
    width: 400px;
    height: 400px;
}

.picsimple {
    width: 220px;
    height: 356px;
    margin: auto;
    margin-top: 50px; 
    border: 5px solid white;
    border-radius: 20%;
}

#self-des {
    margin: 10px;
    margin-left: 10px; margin-right: 10px; 
}

html,body {
    background-color: white; 
    height: 100%;
    margin-bottom: auto;
}
.div.container{
    background-color: white;
}

.modif2 { 
    height: 100%;
    margin-bottom: auto;
    background-color: white;
}

.arrow-position {
    width: auto;
}
.glyphicon.glyphicon-triangle-bottom {
    font-size: 40px;
    margin: 2% auto; width: 50%;
    padding: 0 50% 0 50%;
}

.glyphicon.glyphicon-list-alt {
    font-size: 120px;
    margin: 5% auto; width: 50%;
    padding: 0 55% 0 45%;
}
.glyphicon.glyphicon-user {
    font-size: 75px;
    margin: 2% auto; width: 50%;
    padding: 0 52% 0 48%;
}
.fa.fa-envelope-o {
    font-size: 90px;
    margin: 0 auto;
}
.fa.fa-github {
    font-size: 90px;
    margin: 0 auto;
}
.fa.fa-linkedin{
    font-size: 90px;
    margin: 0 auto;
}
.fa.fa-facebook-square{
    font-size: 90px;
    
}

.fa.fa-cog.fa-spin {
    font-size: 100px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}

.fa.fa-flag {
    font-size: 100px;
    margin: 2% auto; width: 50%;
    padding: 0 52% 0 48%;    
}

.second-cog {
    float: right;
}
.glyphicon.glyphicon-menu-down {
    font-size: 40px;
    margin: 5% auto; width: 50%;
    padding: 0 50% 0 50%;
}
@media screen and (min-width: 481px){
#font-increase {
    font-size: 20px;
}
}


@media only screen and (max-width: 980px) { <!-- ******************* --> 
    /* For mobile phones: */
    .glyphicon.glyphicon-menu-down{
        font-size: 35px;
        margin: 20% auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    #self-des {
        font-size: 1em;
        margin: 10px;
        margin-left: 10px; margin-right: 10px; 
        margin-top: -10%;
    }
    .glyphicon.glyphicon-user {
        font-size: 35px;
        margin: 20% auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    .glyphicon.glyphicon-list-alt {
        font-size: 35px;
        margin: 0 auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    .fa.fa-envelope-o {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-github {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-linkedin{
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-facebook-square{
    font-size: 30px;
    margin: 0 auto;
    }
    .fa.fa-cog.fa-spin {
        font-size: 30px;
    }
    .fa.fa-flag {
        font-size: 40px;
    }
    .webpic {
        width: 150px;
        height: 100px;
    }
    .click-position {
        font-size: 20px;
    }
}
    
@media only screen and (max-width: 480px) { <!-- ******************* --> 
    /* For mobile phones: */
    .glyphicon.glyphicon-menu-down{
        font-size: 20px;
        margin: 20% auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    #self-des {
        font-size: 0.8em;
        margin: 10px;
        margin-left: 10px; margin-right: 10px; 
        margin-top: -10%;
    }
    .glyphicon.glyphicon-user {
        font-size: 20px;
        margin: 20% auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    .glyphicon.glyphicon-list-alt {
        font-size: 20px;
        margin: 0 auto; width: 50%;
        padding: 0 50% 0 50%;
    }
    .fa.fa-envelope-o {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-github {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-linkedin{
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%; 
    }
    .fa.fa-facebook-square{
    font-size: 30px;
    margin: 0 auto;
    }
    .fa.fa-cog.fa-spin {
        font-size: 30px;
    }
    .fa.fa-flag {
        font-size: 40px;
    }
    .webpic {
        width: 150px;
        height: 100px;
    }
    .click-position {
        font-size: 20px;
    }
    #font-increse {
        font-size: 7px;
    }
}



 





 
.body {
    background-color: white;
}


.specific-position {
    margin: auto;
    padding: auto;
    text-align: center;
}


.click-position {
    text-align: center;
    margin-top: 1%;
}

.webpic {
    border-radius: 100%;
    width: 250px;
    height: 200px;
    border: 3px solid #FF9966;
    display: block;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}
.last-fix {
    margin-bottom: -10%;
}

.colorMain {
   background-color: #FF9966;
}