.test {
background-color: #669900; 
}
.right-position {
    float: right;
    border-radius: 100%;
    margin-right: 5%;
}
.leaping-jack-pic {
    float: right;
    margin-right: 5%;
}

.margin-bottom {
    margin-bottom: 50px;
}

.decrease-width-medium{
    width: 500px;
}
.experience-modif{
    margin-top: 80px;
    padding: 10px;
    margin-left: 10%;
}
.text-allign-right {
    float: right;
}

.second-para {
    margin-top: 30px;
    padding: 10px;
    margin-left: 10%;
}
.centre-position {
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-right: 5%;
}
.decrease-width {
    margin-right: 200px;
}
.hov:hover {
    color: black;
}
.hov {
    font-size: 50px; 
    margin: 0 45%;
}
.specific-position {
    font-size: 60px;
    width: 70%;
    margin: auto;
}
.pic-home {
    margin: auto;
    width: 220px;
    height: 356px;
    margin: auto;
    margin-top: 20px; 
    border: 2px solid aqua;
    border-radius: 20%;
}
.text-allign {
    text-align:center;
}
.text-allign-left {
    text-align: left;
}
.font-para {
    font-size: 18px; 
    font-family: verdana;
    padding-left: 130px;
    padding-right: 100px;
}
.pan-hed-col-chg {
    background-color: #F0F0F0;
}
.para-allign {
    margin-top: 100px;
    padding: auto;
}
.padding-left-right{
    padding-left: 100px;
    padding-right: 100px;
}
.resume-edit {
    text-align: center;
}
.resume-holder {
    background-color: aliceblue;
    margin: 50px 25% 0px 25%;
}
.project-para{
    font-family: verdana;
    font-size: 19px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
}
.font-verdana {
    font-family: verdana;

}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

